langdet/input.txt
*nbactions.xml
langdet/input.txt
.classpath
.project
.springBeans
.settings/
target/
bin/
.DS_Store
*.class
*.bat
output/
*.log
*.backup
*.out
*puma*
*out.csv
*error.csv
*#
.gitconfig
.metadata/
Servers/
